{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}

<div class="container" id="challenges_header">
    <div class="row col-centred">
        <img class="bubbletext_header col-xs-8 col-xs-offset-2 col-sm-5 col-md-4 col-centred" src="{% static 'tracktivityPetsWebsite/images/challenges_text.png' %}">
    </div>
</div>

<div class="container" id="challenges_container">
    {% include 'tracktivityPetsWebsite/challenges/challenge_tabs.html' %}  
    {% include 'tracktivityPetsWebsite/challenges/challenges_list_detail.html' %}
    {% include 'tracktivityPetsWebsite/challenges/challenges_modal.html' %}         
</div>   

{% endblock content_block %}