{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}
    
<script type="text/javascript">
    $(document).ready(function() {
    	
    	var modalScreenWidth = 768;
    	
        $("#pets > div > div").click(function(event) 
        {
            var id = $(this).attr("id").split("_").pop(); //unpurchased_x becomes x
            
            $.ajax( "{% url 'tracktivityPetsWebsite:view_purchased_pet' %}" + id)
                .done(function(data) {
                    
                    var obj = JSON.parse(data);
                    $("#inventory_detail_header").html(obj.name);                    
                    $("#inventory_detail_modal").find(".modal-title").html(obj.name);                    
                    $("#inventory_detail_pet_level").html("Level " + obj.level);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_level").html("Level " + obj.level); 
                    $("#inventory_detail_pet_description").html(obj.story);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_description").html(obj.story);
                    $("#inventory_detail_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_image").attr("src", obj.image);
                    $("#inventory_detail_pet_age").html(obj.age + " Days Old");
                    $("#inventory_detail_modal").find("#inventory_detail_pet_age").html(obj.age + " Days Old");
                    $("div[id*='selected_pet_']").attr("id", "selected_pet_" + id);
                    
                    //rename modal
                    $("#rename_pet_modal").find("#rename_pet_image").attr("src", obj.image);
                    $("#rename_pet_modal").find("#rename_textfield").attr("placeholder", obj.name);
            })
            .fail(function() {

            })
            .always(function() {                                      
                if (screen.width <= modalScreenWidth) {
                    $('#inventory_detail_modal').modal('show');                            
                }
            });
        });
        
        $("#rename_button").click(function(event) {
            $('#rename_pet_modal').modal('show');
        });
        
        $("#modal_rename").click(function(event) {
            $('#inventory_detail_modal').modal('hide');  
            $('#rename_pet_modal').modal('show');
        });
        
        $("#equip_item_btn").click(function(event) {
        	var id = $("div[id*='selected_cosmetic_']").attr("id").split("_")[2]; //unpurchased_y_x becomes x
        	
        	if($("#equip_item_btn").html() === "Unequip!") {
        		$.ajax( "{% url 'tracktivityPetsWebsite:equip_item' %}" + id + "/unequip/")
	                .done(function(data) {
						if(data === "success") { //show confirmation
							alert("Successfully Unequipped Item");
							$("#equip_item_btn").html("Equip!");
						}
						else
							alert("Failed to Unequip");
	            })
	            .fail(function() {
	            })
	            .always(function() {                                    
	            });
        	}
        	else {	
        	
	        	$.ajax( "{% url 'tracktivityPetsWebsite:equip_item' %}" + id)
	                .done(function(data) {
					if(data === "already_equipped") { //show confirmation
						$('#inventory_detail_modal').modal('hide');  
	            		$('#equip_confirm_modal').modal('show');
					}
					else if(data === "success") {
						alert("Successfully Equipped");
						$("#equip_item_btn").html("Unequip!");
					}
					else
						alert("Failed");
	            })
	            .fail(function() {
	            })
	            .always(function() {                                    
	
	            });
            }
        
        });
        
        $("#equip_confirm_btn").click(function(event) {
        	var id = $("div[id*='selected_cosmetic_']").attr("id").split("_")[2]; //unpurchased_y_x becomes x
        	
    		$.ajax( "{% url 'tracktivityPetsWebsite:equip_item' %}" + id + "/equip/")
                .done(function(data) {
					if(data === "success") { //show confirmation
						alert("Successfully Equipped Item");
						$("#equip_item_btn").html("Unequip!");
					}
					else
						alert("Failed to Equip");
            })
            .fail(function() {
            })
            .always(function() {                                    
				return; //no need to do rest
            });
        
        });
        
        $("#cosmetics > div > div").click(function(event) 
        {
            var id = $(this).attr("id").split("_").pop(); //unpurchased_x becomes x
            //alert("here");
            $.ajax( "{% url 'tracktivityPetsWebsite:view_purchased_item' %}" + id)
                .done(function(data) {
                    
                    var obj = JSON.parse(data);
                    $("#inventory_detail_cosmetics_header").html(obj.name);                    
                    $("#inventory_detail_modal").find(".modal-title").html(obj.name);                    
                    $("#inventory_detail_modal").find("#inventory_detail_pet_level").html(''); 
                    $("#inventory_detail_cosmetics_description").html(obj.description);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_description").html(obj.description);
                    $("#inventory_detail_cosmetics_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_image").attr("src", obj.image);
                    $("#confirm_equip_img").attr("src", obj.image);
                    if(obj.equipped === "equipped") {
                    	$("#equip_item_btn").html("Unequip!");
                    }
                    else {
                    	$("#equip_item_btn").html("Equip!");
                    }
               
                    $("div[id*='selected_cosmetic_']").attr("id", "selected_cosmetic_" + id);
            })
            .fail(function() {
            	alert("failed");
            })
            .always(function() {                                    
                if (screen.width <= modalScreenWidth) {
                    $('#inventory_detail_modal').modal('show');                            
                }
                
            });
        });
        
        $("#scenery > div > div").click(function(event) 
        {
            var id = $(this).attr("id").split("_").pop(); //unpurchased_x becomes x
            
            $.ajax( "{% url 'tracktivityPetsWebsite:view_purchased_scenery' %}" + id)
                .done(function(data) {

                    var obj = JSON.parse(data);
                    $("#inventory_detail_scenery_header").html(obj.name);  
                    $("#inventory_detail_scenery_description").html(obj.description);                   
                    $("#inventory_detail_modal").find(".modal-title").html(obj.name);                    
                    $("#inventory_detail_modal").find("#inventory_detail_pet_level").html(''); 
                    $("#inventory_detail_modal").find("#inventory_detail_pet_description").html(obj.description);
                    $("#inventory_detail_scenery_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_age").html(" ");
                    $("div[id*='selected_scenery_']").attr("id", "selected_scenery_" + id);
                    
            })
            .fail(function() {
            })
            .always(function() {                                   
                if (screen.width <= modalScreenWidth) {
                    $("#inventory_detail_modal").find("#rename_button").hide();
                    $('#inventory_detail_modal').modal('show'); 
                }
            });
        });
        
        $(".activate_pet_button" ).click(function() {
            var id = $("div[id*='selected_pet_']").attr("id").split("_")[2]; //unpurchased_y_x becomes x
            $.ajax( "{% url 'tracktivityPetsWebsite:set_current_pet' %}" + id)
                .done(function(data) {
                    if(data === "False")
                        alert("Failed to Activate.");
                    else
                        alert("Successfully Activated");
                    
            })
            .fail(function() {
			alert("failed");
            })
            .always(function() {
            
            });
        });
        
        $(".activate_scenery_button" ).click(function() {
            var id = $("div[id*='selected_scenery_']").attr("id").split("_")[2]; //unpurchased_x becomes x
            $.ajax( "{% url 'tracktivityPetsWebsite:set_current_scenery' %}" + id)
                .done(function(data) {
                    if(data === "False")
                        alert("Failed");
                    else
                        alert("Successfully Activated");
                    
            })
            .fail(function() {
            })
            .always(function() {
            
            });
        });
        
        $("#rename_confirm_btn" ).click(function() {
        	 var id = $("div[id*='selected_pet_']").attr("id").split("_")[2]; //unpurchased_y_x becomes x
        	 var name = $("#rename_textfield").val();//if user has entered anything

            $.ajax( "{% url 'tracktivityPetsWebsite:set_pet_name' %}" + id + "/" + name)
                .done(function(data) {
                    if(data === "False")
                        alert("Failed to Rename.");
                    else {
                        alert("Successfully Renamed");
                        $("#pets").find("#collected_" + id).find("button").find("p").html(name);
                        $("#inventory_detail_header").html(name);
                        $("#rename_textfield").attr("placeholder", name);
                    }
                        
                    
            })
            .fail(function() {
				alert("failed");
            })
            .always(function() {
            
            });
        });
    });
</script>

<div class="container" id="inventory_header">
    <div class="row">
        <img class="bubbletext_header col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4" src="{% static 'tracktivityPetsWebsite/images/inventory_text.png' %}">
    </div>
</div>

<div class="container" id="inventory_container">
    {% include 'tracktivityPetsWebsite/inventory/inventory_tabs.html' %}  
    {% include 'tracktivityPetsWebsite/inventory/inventory_grid_detail.html' %}
    {% include 'tracktivityPetsWebsite/inventory/inventory_modal.html' %}         
</div>   

{% endblock content_block %}
