<!-- inventory_modal.html: Sub-template that handles the pop-ups (modal) detail view on mobile devices, and rename pet view on all devices. -->

<div class="container">            
    <div class="modal fade" role="dialog" id="pet_inventory_detail_modal">
        <div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="pet_inventory_detail_title" class="modal-title">{{ default_pet.name }}</h4>
                </div>
                <div class="modal-body">
                    <img id="inventory_detail_pet_image" class="img-responsive col-xs-9 col-centred" src="{{ default_pet.image }}" />
                    <p id="pet_inventory_detail_description">{{ default_pet.story }}</p>
                    <div><h4 id="pet_inventory_detail_level">Level {{ default_pet.level }}</h3></div>
                    <div><h5 id="pet_inventory_detail_age">{{ default_pet.age }} Days Old</h5></div>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Dismiss</button>
                    <button type="button" class="btn btn-default btn-warning rename_button" data-dismiss="modal">Rename</button>
                    <button type="button" class="btn btn-default activate_button btn-success activate_pet_button" data-dismiss="modal">Activate!</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="scenery_inventory_detail_modal">
        <div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="scenery_inventory_detail_title" class="modal-title">{{ default_scenery.name }}</h4>
                </div>
                <div class="modal-body">
                    <img id="scenery_inventory_detail_image" class="img-responsive col-xs-9 col-centred" src="{{ default_scenery.image }}" />
                    <p id="scenery_inventory_detail_description">{{ default_scenery.description }}</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Dismiss</button>
                    <button type="button" class="btn btn-default activate_button btn-success activate_scenery_button" data-dismiss="modal">Activate!</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="item_inventory_detail_modal">
        <div class="modal-dialog">              
            <div class="modal-content">            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="item_inventory_detail_title" class="modal-title">{{ default_item.name }}</h4>
                </div>
                
                <div class="modal-body" style="padding: 0; display: inline-block; position: relative">
                    <div class="row">
                        <img class="col-xs-8 col-xs-offset-2" src="{{ preview_pet_image }}">
                        <img id="item_inventory_detail_image" class="img-responsive col-xs-8 col-xs-offset-2 selected_item_image pet_preview_overlay" src="{{ default_item.image }}" />
                    </div>                    
                    <p id="item_inventory_detail_description">{{ default_item.description }}</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Dismiss</button>
	            	{% if default_item.equipped == "Equipped" %}
	            	<button type="button" class="btn btn-default activate_button btn-success equip_item_btn" data-dismiss="modal">Unequip!</button>
	            	{% else %}
	                <button type="button" class="btn btn-default activate_button btn-success equip_item_btn" data-dismiss="modal">Equip!</button>
	            	{% endif %}
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="rename_pet_modal">
        <div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rename Pet</h4>
                </div>
                <div class="modal-body">
                    <img id="rename_pet_image" class="img-responsive col-xs-9 col-centred" src="{{ default_pet.image }}" />
                    <p>If you would like to rename your pet, please enter the new name below:</p>
                    <input size="35" id="rename_textfield" type="text" placeholder="{{ default_pet.name }}" autocomplete="off">
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal" id="rename_confirm_btn">Confirm</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="equip_confirm_modal">
        <div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation Needed!</h4>
                </div>
                <div class="modal-body">
                    <img id="confirm_equip_img" class="img-responsive col-xs-9 col-centred" src="http://www.wackyowl.com/wp-content/uploads/2012/08/Cute-Baby-Chickens-Wearing-Knit-Hats1.jpg" />
                    <p>Your pet is already wearing an item on that part of its body. Would you like to replace it with this item?</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal" id="equip_confirm_btn">Confirm</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="scenery_inventory_activated_modal">
        <div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Scenery Activated!</h4>
                </div>
                <div class="modal-body">
                    <img id="scenery_modal_activated_img" class="img-responsive col-xs-9 col-centred" src="{{ default_scenery.image }}" />
                    <p>This scenery has been activated. You can view it on your Dashboard. Enjoy the view!</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Awesome!</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="pet_inventory_activated_modal">
        <div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="item_inventory_detail_title" class="modal-title">Pet Switched!</h4>
                </div>
                <div class="modal-body">
                    <img id="pet_modal_activated_img" class="img-responsive col-xs-9 col-centred" src="{{ default_pet.image }}" />
                    <p id="pet_inventory_detail_description">Your active pet has been switched. You can now browse their Inventory and shop for their items in the Store, as well as check up on them in the Dashboard!</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Awesome!</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="item_equipped_modal">
		<div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="item_inventory_detail_title" class="modal-title">Item Equipped!</h4>
                </div>
                <div class="modal-body">
                    <p>Your item has now been equipped! Go and admire your pet's new look on the Dashboard.</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Awesome!</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="item_unequipped_modal">
		<div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="item_inventory_detail_title" class="modal-title">Item Unequipped!</h4>
                </div>
                <div class="modal-body">
                    <p>Your item has now been unequipped! Your pet's appearance has been updated on the Dashboard.</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Awesome!</button>
                </div>
            </div>        
        </div>
    </div>
</div>

<div class="container">            
    <div class="modal fade" role="dialog" id="pet_renamed_modal">
        <div class="modal-dialog">              
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="item_inventory_detail_title" class="modal-title">Pet Renamed!</h4>
                </div>
                <div class="modal-body">
                    <p>Your pet has been successfully renamed.</p>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Awesome!</button>
                </div>
            </div>        
        </div>
    </div>
</div>