<!-- inventory_grid.html: Sub-template that handles displaying each collected pet in grid layout -->
{% load staticfiles %}

<div class="col-md-6 container tab-content" id="inventory_grid">        
    <div class="tab-pane fade in active" id="pets">
        {% for key, value in collected_pets.items %}
            <div class="col-xs-6" class="inventory_pet" id="pets_{{ value.pk }}">
                <button class="">
                <img class="img-responsive" src="{{ value.image }}">
                <p class="">{{ key }}</p>
                </button>            
            </div>
        {% endfor %}
    </div>
    
    <div class="tab-pane fade" id="scenery"> 
        {% for key, value in collected_scenery.items %}
            <div class="col-xs-6" class="inventory_items" id="scenery_{{ value.pk }}">
                <button class="">
                <img class="img-responsive" src="{{ value.image }}">
                <p class="">{{ key }}</p>
                </button>            
            </div>
        {% endfor %}
    </div>      
    
    <div class="tab-pane fade" id="cosmetics"> 
        {% for key, value in collected_items.items %}
            <div class="col-xs-6" class="inventory_items" id="cosmetics_{{ value.pk }}">
                <button class="">
                <img class="img-responsive" src="{{ value.image }}" width="200px" height="200px">
                <p class="">{{ key }}</p>
                </button>            
            </div>
        {% endfor %}
    </div>   
</div> 