<!-- inventory_grid_detail.html: Sub-template that handles displaying each collected pet/item in grid layout with matching detail view -->
{% load staticfiles %}

<div class="collection_window container tab-content col-xs-12">
    <!-- Collected Pets Tab -->
    <div class="collection_view_desktop tab-pane fade in active" id="pets">
        <div class="col-xs-12 col-sm-6">
            {% for key, value in collected_pets.items %}
            <div class="col-xs-6" class="inventory_pet" id="collected_{{ value.pk }}">
                <button class="inventory_button">
                    <img class="img-responsive" src="{{ value.image }}">
                    <p class="">{{ key }}</p>
                </button>            
            </div>
            {% endfor %}
        </div>
        
        <div class="col-sm-6 hidden-xs " id="selected_pet_{{ default_pet.pk }}">
            <div hidden id="selected_{{ default_pet.pk }}" > </div>
            <div class="row"><h2 class="col-centred" id="inventory_detail_header">{{ default_pet.name }}</h2></div>
            <div class="row"><img class="img-responsive col-centred" src="{{ default_pet.image }}" id="inventory_detail_image"></div>
            <div class="row" id="inventory_detail_pet_description_div">
                <p id="inventory_detail_pet_description" class="col-xs-12 col-sm-8 col-centred">
                    {{ default_pet.story }}
                </p>
            </div>
            <div class="row"><h4 id="inventory_detail_pet_level">Level {{ default_pet.level }}</h4></div>
            <div class="row"><h5 id="inventory_detail_pet_age">{{ default_pet.age }} Days Old</h5></div>
            <div class="row" id="inventory_detail_buttons">
                <button class="btn btn-lg btn-primary col-sm-4 col-md-3 col-centred" id="rename_button" type="button">Rename</button>
                <button class="btn btn-lg btn-primary col-sm-4 col-md-3 col-centred activate_pet_button" type="button">Activate!</button>
            </div>
        </div>
    </div>
    
    <!-- Collected Scenery Tab -->
    <div class="collection_view_desktop tab-pane fade" id="scenery">
        <div class="col-xs-12 col-sm-6">
        {% for key, value in collected_scenery.items %}
            <div class="col-xs-6" class="inventory_items" id="scenery_{{ value.pk }}">
                <button class="inventory_button">
                <img id="scenery_collection_view_img" class="img-responsive img-thumbnail" src="{{ value.image }}">
                <p class="scenery_description">{{ key }}</p>
                </button>            
            </div>
        {% endfor %}
        </div>
        
        
        <div class="col-sm-6 hidden-xs" id="selected_scenery_{{ default_scenery.pk}}">
            <div class="row"><h2 class="col-centred" id="inventory_detail_scenery_header">{{ default_scenery.name }}</h2></div>
            <div class="row"><img class="img-responsive col-xs-8 col-centred" src="{{ default_scenery.image }}" id="inventory_detail_scenery_image"></div>
            <div class="row" id="inventory_detail_scenery_description_div">
                <p id="inventory_detail_scenery_description" class="col-xs-12 col-sm-8 col-centred">
                     {{ default_scenery.description }}
                </p>
            </div>
            <div class="row">
                <button class="btn btn-lg btn-primary col-sm-4 col-md-3 col-centred activate_scenery_button" type="button">Activate!</button>
            </div>
        </div>
    </div>
    
    <!-- Collected Cosmetics Tab -->
    <div class="collection_view_desktop tab-pane fade" id="cosmetics">
        <div class="col-xs-12 col-sm-6">
        {% for key, value in collected_items.items %}
            <div class="col-xs-6" class="inventory_items" id="cosmetics_{{ value.pk }}">
                <button class="">
                <img class="img-responsive" src="{{ value.image }}" width="200px" height="200px">
                <p class="">{{ key }}</p>
                </button>            
            </div>
        {% endfor %}
        </div>

        <div class="col-md-6 hidden-xs" id="selected_cosmetic_{{ default_item.pk }}">
        	{%if is_items %}
	            <div class="row"><h2 class="col-centred" id="inventory_detail_cosmetics_header">{{ default_item.name }}</h2></div>
	            <div class="row"><img class="img-responsive col-xs-8 col-centred" src="{{ default_item.image }}" id="inventory_detail_cosmetics_image"></div>
	            <div class="row" id="inventory_detail_cosmetics_description_div">
	                <p id="inventory_detail_cosmetics_description" class="col-xs-12 col-md-8 col-centred">
	                    {{ default_item.description }}
	                </p>
	                <p> </p>
	            </div>
	            <div class="row">
	            	{% if default_item.equipped == "Equipped" %}
	            	<button class="btn btn-lg btn-primary col-md-3 col-centred activate_button" id="equip_item_btn" type="button">Unequip!</button>
	            	{% else %}
	                <button class="btn btn-lg btn-primary col-md-3 col-centred activate_button" id="equip_item_btn" type="button">Equip!</button>
	            	{% endif %}
	            </div>
	        {% endif %}
        </div>
    </div>    
</div> 
