{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}
    
<script type="text/javascript">
    $(document).ready(function() {
    	
    	var modalScreenWidth = 768;
    	
        $("#pets > div > div").click(function(event) 
        {
            var id = $(this).attr("id").split("_").pop(); //unpurchased_x becomes x
            
            $.ajax( "{% url 'tracktivityPetsWebsite:view_purchased_pet' %}" + id)
                .done(function(data) {
                    
                    var obj = JSON.parse(data);
                    $("#inventory_detail_header").html(obj.name);                    
                    $("#inventory_detail_modal").find(".modal-title").html(obj.name);                    
                    $("#inventory_detail_pet_level").html("Level " + obj.level);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_level").html("Level " + obj.level); 
                    $("#inventory_detail_pet_description").html(obj.story);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_description").html(obj.story);
                    $("#inventory_detail_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_image").attr("src", obj.image);
                    $("#inventory_detail_pet_age").html(obj.age + " Days Old");
                    $("#inventory_detail_modal").find("#inventory_detail_pet_age").html(obj.age + " Days Old");
                    $("div[id*='selected_pet_']").attr("id", "selected_pet_" + id);
            })
            .fail(function() {

            })
            .always(function() {                                      
                if (screen.width <= modalScreenWidth) {
                    $('#inventory_detail_modal').modal('show');                            
                }
            });
        });
        
        $("#cosmetics > div > div").click(function(event) 
        {
            var id = $(this).attr("id").split("_").pop(); //unpurchased_x becomes x
            
            $.ajax( "{% url 'tracktivityPetsWebsite:view_purchased_item' %}" + id)
                .done(function(data) {
                    
                    var obj = JSON.parse(data);
                    $("#inventory_detail_cosmetics_header").html(obj.name);                    
                    $("#inventory_detail_modal").find(".modal-title").html(obj.name);                    
                    $("#inventory_detail_modal").find("#inventory_detail_pet_level").html(''); 
                    $("#inventory_detail_cosmetics_description").html(obj.description);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_description").html(obj.description);
                    $("#inventory_detail_cosmetics_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_image").attr("src", obj.image);
                    $("div[id*='selected_cosmetic_']").attr("id", "selected_cosmetic_" + id);
            })
            .fail(function() {
            })
            .always(function() {                                    
                if (screen.width <= modalScreenWidth) {
                    $('#inventory_detail_modal').modal('show');                            
                }
                
            });
        });
        
        $("#scenery > div > div").click(function(event) 
        {
            var id = $(this).attr("id").split("_").pop(); //unpurchased_x becomes x
            
            $.ajax( "{% url 'tracktivityPetsWebsite:view_purchased_scenery' %}" + id)
                .done(function(data) {

                    var obj = JSON.parse(data);
                    $("#inventory_detail_scenery_header").html(obj.name);  
                    $("#inventory_detail_scenery_description").html(obj.description);                   
                    $("#inventory_detail_modal").find(".modal-title").html(obj.name);                    
                    $("#inventory_detail_modal").find("#inventory_detail_pet_level").html(''); 
                    $("#inventory_detail_modal").find("#inventory_detail_pet_description").html(obj.description);
                    $("#inventory_detail_scenery_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_image").attr("src", obj.image);
                    $("#inventory_detail_modal").find("#inventory_detail_pet_age").html(" ");
                    $("div[id*='selected_scenery_']").attr("id", "selected_scenery_" + id);
                    
            })
            .fail(function() {
            })
            .always(function() {                                      
                if (screen.width <= modalScreenWidth) {
                    $('#inventory_detail_modal').modal('show');                            
                }
            });
        });
        
        $(".activate_pet_button" ).click(function() {
            var id = $("div[id*='selected_pet_']").attr("id").split("_")[2]; //unpurchased_y_x becomes x
            alert(id);
            $.ajax( "{% url 'tracktivityPetsWebsite:set_current_pet' %}" + id)
                .done(function(data) {
                    alert(data);
                    if(data === "False")
                        alert("Failed to Activate.");
                    else
                        alert("Successfully Activated");
                    
            })
            .fail(function() {
			alert("failed");
            })
            .always(function() {
            
            });
        });
        
        $(".activate_scenery_button" ).click(function() {
            var id = $("div[id*='selected_scenery_']").attr("id").split("_")[2]; //unpurchased_x becomes x
            $.ajax( "{% url 'tracktivityPetsWebsite:set_current_scenery' %}" + id)
                .done(function(data) {
                    if(data === "False")
                        alert("Failed");
                    else
                        alert("Successfully Activated");
                    
            })
            .fail(function() {
            })
            .always(function() {
            
            });
        });
    });
</script>

<div class="container" id="inventory_header">
    <div class="row">
        <img class="bubbletext_header col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4" src="{% static 'tracktivityPetsWebsite/images/inventory_text.png' %}">
    </div>
</div>

<div class="container" id="inventory_container">
    {% include 'tracktivityPetsWebsite/inventory/inventory_tabs.html' %}  
    {% include 'tracktivityPetsWebsite/inventory/inventory_grid_detail.html' %}
    {% include 'tracktivityPetsWebsite/inventory/inventory_modal.html' %}         
</div>   

{% endblock content_block %}
