{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
		<link href="{% static 'tracktivityPetsWebsite/style/style.css' %}" type="text/css" rel="stylesheet"/>
	
		<title>Tracktivity Pets</title>
	<body>
		{% block content_block %}
		
		{%endblock content_block %}
	</body>
</html>