{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
		<link href="{% static 'tracktivityPetsWebsite/style/style.css' %}" type="text/css" rel="stylesheet"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset=utf-8 />
		<title>Tracktivity Pets</title>
	<body>
		{% block navbar %}
		
		{% endblock navbar %}
		
		<div id="page-content">
			{% block content_block %}
			
			{% endblock content_block %}
		</div>
	</body>
</html>