<div class="infoItem">
	<h3>Pet Unlocks</h3>
	
	<div class="container-fluid">
	    <div class="unlocks">
	    	Stories unlocked: {{ stories_unlocked_count }} / {{ stories_available_count }}
	    	<br/>
	    	<!-- code borrwed from http://jsfiddle.net/technotarek/gXN2u/ !-->
	    	<style type="text/css">
				.carousel-content {
				    color:black;
				    display:flex;
				    align-items:center;
				    margin: 20px;
				}
				
				.carousel-control.left, .carousel-control.right {
				    background-image: none
				}
				
				.carousel-control{
				  color: #000;
				}
			</style>
			
			<script src="/static/tracktivityPetsWebsite/behaviour/jquery.mobile-1.4.5.min.js"></script>  
			
			<script type="text/javascript"> 
			
				$(document).ready(function(){
					$("#myCarousel").carousel({
				    	interval : false
				    });
				    
				    $("#myCarousel").swiperight(function() {  
				      $("#myCarousel").carousel('prev');  
				    });  
				    
				   $("#myCarousel").swipeleft(function() {  
				      $("#myCarousel").carousel('next');  
				   });  
				   
				   $.mobile.loading( 'show', { theme: "b", text: "", textonly: false});
				});
				setCarouselHeight('myCarousel');
	
			    function setCarouselHeight(id)
			    {
			        var slideHeight = [];
			        $(id+' .item').each(function()
			        {
			            // add all slide heights to an array
			            slideHeight.push($(this).height());
			        });
			
			        // find the tallest item
			        max = Math.max.apply(null, slideHeight);
			
			        // set the slide's height
			        $(id+' .carousel-content').each(function()
			        {
			            $(this).css('height',max+'px');
			        });
			    }
			    
			    var story_number =  1;
			    var stories_available_count = {{ stories_available_count }}
			    
			    $(function () {	        
			        
			        $('.carousel-control.left').click(function() {
			        	story_number--;
			        	if(story_number < 1) { story_number = stories_available_count; }
					  $('#viewing_story_number').html(story_number);
					});
					
					$('.carousel-control.right').click(function() {
						story_number++;
			        	if(story_number > stories_available_count) { story_number = 1; }
						$('#viewing_story_number').html(story_number);
					});
				});
		    </script>
			
			<p>Viewing story <span id="viewing_story_number">1</span> of {{ stories_available_count }}</p>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			    <!-- Wrapper for slides -->
			    <div class="row">
			        <div class="col-xs-offset-3 col-xs-6">
			            <div class="carousel-inner">
			            	{% for story in stories_unlocked %}
				            	{% if stories_unlocked|first == story %}  
							    	<div class="item active"> {% comment %} first item has to be active {% endcomment %}
							    {% else %}
							    	<div class="item">
							    {% endif %}
				                    <div class="carousel-content">
				                        <div>
				                            <p>{{ story.text }}</p>
				                        </div>
				                    </div>
				                </div>
					    	{% endfor %}
			            </div>
			        </div>
			    </div>
			    <!-- Controls --> 
			    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			    	<span class="glyphicon glyphicon-chevron-left"></span>
			  	</a>
			 	<a class="right carousel-control" href="#myCarousel" data-slide="next">
			    	<span class="glyphicon glyphicon-chevron-right"></span>
			  	</a>
			
			</div>
	    	
	    </div>
	</div>
</div>