{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
	{% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}
	{% if user.is_authenticated %}
		Logged in as: {{ user.get_username }} <br/><br/>
		
		<div class="row">
			<div class="col-md-4">
			     <h3>Pet Info</h3>
			     {% include 'tracktivityPetsWebsite/dashboardpetinfo.html' %}
			</div>
			
			<div class="col-md-4">
				<h3>Pet Happiness</h3>
				{% include 'tracktivityPetsWebsite/dashboardstats.html' %}
			</div>
			
			<div class="col-md-4">
			     <h3>Pet Updates</h3>
			     {% include 'tracktivityPetsWebsite/dashboardupdate.html' %}
			</div>
		</div>

		<br/><br/>
		
	
	{% endif %}
	
{% endblock content_block %}
