<div id="pet_scene_container" class="jumbotron">
	<div id="pet_phrase" class="alert alert-success" role="alert">
		{{ mood.phrase }}
	</div>
	<div id="pet_scene">
		
		<img id="pet_mood_image" alt="pet mood image" src="{{ mood.image }}" />
		
		{% include 'tracktivityPetsWebsite/dashboardpetinfo.html' %}
	</div>
	
	<div id="pet_progress" class="progress">
        <div class="progress-bar {{ progress_bar_colour }} progress-bar-striped active" role="progressbar"
        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{level_data.progress}}%">
            {{ level_data.progress_bar_text }}
        </div>
    </div>
</div>