{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
	{% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}
	{% if user.is_authenticated %}
	
	{{ error }}
	
		<div class="row">
			<div class="col-md-2">
				
			</div>
			<div class="col-md-8 text-center">
			     {% include 'tracktivityPetsWebsite/dashboardpetscene.html' %}
			</div>
			
			<div class="col-md-2">
				
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-4 text-center">


			</div>
			
			<div class="col-md-4 text-center">
				<h3>Pet Happiness</h3>
				{% include 'tracktivityPetsWebsite/dashboardstats.html' %}
			</div>
			
			<div class="col-md-4 text-center">
			     <h3>Pet Updates</h3>
			     {% include 'tracktivityPetsWebsite/dashboardupdate.html' %}
			</div>
			
			<div class="col-md-4 text-center">
			     <h3>Pet Unlocks</h3>
			     {% include 'tracktivityPetsWebsite/dashboardunlocks.html' %}
			</div>
		</div>
    {% endif %}
	
{% endblock content_block %}
