{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}
<div class="container text-center">
	<h3>Fitbit Usage</h3>
	<p>
		This website is a predominately Fitbit device based product, and as such requires you to link a Fitbit device with an account. 
		Clicking the button below will allow this website to access your Fitbit data.
		Any time we are unable to gather data from Fitbit due to permissions, you will be brought here to relink, if you wish to use the site.
	</p>
	<form action="{{ fitbit_link_link }}?next={{ redirect_to }}">
		<input type="submit" value="Link Account">
	</form>
</div>
{% endblock content_block %}