{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}
<!-- code borrowed from http://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=carousel and http://jsfiddle.net/technotarek/gXN2u/ !-->
<div class="container text-center">
	<style>

		.carousel-content {
		    color: #FFF;
		    display:flex;
		    margin:10%;
		    align-items:center;
		}
		
		.carousel-indicators {
		  bottom:-5px;
		}
	</style>
	
	<style type="text/css">
		h2{
		    margin: 0;     
		    color: #666;
		    padding-top: 90px;
		    font-size: 52px;
		    font-family: "trebuchet ms", sans-serif;    
		}
		.bs-example{
		    background: #333;    
		    text-align: center;
		    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/static/tracktivityPetsWebsite/images/main_story_background.jpg");
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: 50% 60%;
		}

		.bs-example{
			margin: 20px;
		}
		
		.item {
			margin: 0 auto;
			
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#myCarousel").carousel({
		         interval : false
		    });
		    $('.carousel-control.left').hide();
		  
		  $('#myCarousel').bind('slid.bs.carousel', function (e)
        {
          
            var $this = $(this);

            $this.children('.carousel-control').show();

            if ($('.carousel-inner .item:last').hasClass('active'))
            {
                $this.children('.right.carousel-control').hide();
            } else if ($('.carousel-inner .item:first').hasClass('active'))
            {
                $this.children('.left.carousel-control').hide();
            }
        });
		  
		   $(".left").click(function(){
       	   $("#myCarousel").carousel("prev");	
       	   });
       	       $(".right").click(function()
       	       {
       	       	 if (!$('.carousel-inner .item:last').hasClass('active'))
       	       		{
       					 $("#myCarousel").carousel("next");
       				}
        
    });
		   $.mobile.loading( 'show', { theme: "b", text: "", textonly: false});

		});
		
        
		setCarouselHeight('#carousel-example');

	    function setCarouselHeight(id)
	    {
	        var slideHeight = [];
	        $(id+' .item').each(function()
	        {
	            // add all slide heights to an array
	            slideHeight.push($(this).height());
	        });
	
	        // find the tallest item
	        max = Math.max.apply(null, slideHeight);
	
	        // set the slide's height
	        $(id+' .carousel-content').each(function()
	        {
	            $(this).css('height',max+'px');
	        });
	       
	    }
	    

	</script>
	
	<div class="row">
        <img src="{% static 'tracktivityPetsWebsite/images/story_img.png' %}" class="bubbletext_header col-xs-12 col-md-4 col-md-offset-4">
    </div>
	
	
	<div class="bs-example">
	    <div id="myCarousel" style="overflow:hidden" class="carousel slide" data-interval="1000" data-ride="carousel" data-wrap="false">
	    	<!-- Carousel indicators -->
	        <ol class="carousel-indicators">
	            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	            <li data-target="#myCarousel" data-slide-to="1"></li>
	            <li data-target="#myCarousel" data-slide-to="2"></li>
	            <li data-target="#myCarousel" data-slide-to="3"></li>
	            <li data-target="#myCarousel" data-slide-to="4"></li>
	            <li data-target="#myCarousel" data-slide-to="5"></li>
	        </ol>   
	       <!-- Carousel items -->
	        <div class="row">
		        <div class="col-lg-12">
		            <div class="carousel-inner" role="listbox">
		                <div class="item active">
		                    <div class="carousel-content">
		                        <div style="width:800px; margin:0 auto;">
		                            <p>
		                            	H.ll. can.. y.u h.re me? No? Ah. That should fix it. Hello! I am Dr. Lionel, I'm speaking to you through the proprietary Petnet I have built which is
		                            	 a connection between your universe and mine. Anyway, that doesn't matter right now. We need your help!
		                            </p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item">
		                    <div class="carousel-content">
		                        <div style="width:800px; margin:0 auto;">
		                        	<p> 
		                        	It all started a few weeks ago... King Rupert and his minions were trekking through the murky jungle. The group had almost made their way through until
		                        	they were attacked by a mysterious creature! Only one of the minions made it back	
		                        	</p>		      
		                        </div>
		                    </div>
		                </div>
		                <div class="item">
		                    <div class="carousel-content">
		                        <div style="width:800px; margin:0 auto;">                          
		                             <p >
		                             King Rupert has many kingly duties. One of the most important is telling his subjects to exercise!
		                             Without him nagging , they all just forget to walk around. Thats where you come in!	
		                             </p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item">
		                    <div class="carousel-content">
		                        <div style="width:800px; margin:0 auto;">                          
		                             <p>
		                             	We need you to help get our townsfolk to exercise until King Rupert returns. To do this, I'll set you up with a private channel over the Petnet.
		                             	This will allow you to connect to our universe overa secure line. Once connected, you will be connected with a pet.
		                             </p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item">
		                    <div class="carousel-content">
		                        <div style="width:800px; margin:0 auto;">                          
		                             <p>
		                             	So you and your pet can exerciuse at the same time, your Fitbit device will be connected to the Petnet as well. Now, when you exercise your pet will exercise.
		                             	Perhaps when you get some practice we'll link you up to some more pets...We can worry about that later though.
		                             </p>
		                        </div>
		                    </div>
		                </div>
		                <div class="item">
		                    <div class="carousel-content">
		                        <div style="width:800px; margin:0 auto;">                          
		                             <p>
		                             	If you happen to find any information about King Rupert please let me know. 
		                             							Alright! Let's get started...                                                                                                                                       
		                             </p>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	        <!-- Carousel nav -->
<a class="left carousel-control" href="#myCarousel" role="button">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
    </a>
<a class="right carousel-control" href="#myCarousel" role="button">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
	    </div>
	</div>
  	{% if not has_pet %}
		<form action="{{ pet_selection_link }}">
			<input type="submit" value="Select a pet! "class="btn btn-lg btn-primary">
		</form>
	{% endif %}
</div>
{% endblock content_block %}