{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
	{% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}
<div class="container-fluid">
			
	<script src="{% static 'tracktivityPetsWebsite/behaviour/petselect.js' %}" type="text/javascript"></script>
	
	<div class="col-xs-12 col-md-1 text-center"></div>		
	<div class="container text-center col-xs-12 col-md-5">	
	   <div class="row">
	       <p>Viewing pet <span id="viewing_pet_number">1</span> of {{ pets_available_count }}</p>
	   </div>	
	   <div class="row">
            <div id="pet_selector">
            {% for key, value in available_pets.items %}
                {% if forloop.first %}
                    <span class="active pet_image">
                {% else %}
                    <span class="pet_image">
                {% endif %}                
                        <img src="{{ value.image }}" alt="{{ value.name }}" class="col-xs-4 col-md-4" width="250px" height="250px" />
                    </span>
                <span class="pet_silohuette">
                    <img src="{{ value.silohuette }}" alt="{{ value.name }}" class="col-xs-4 col-md-4" width="250px" height="250px"/>
                </span>
            {% endfor %}
            </div>
        </div>		
        <div class="row" id="visible_pets">         
        </div>
	    <div class="row">
            <a id="selectLeft" id="selectLeft">
                <button>Left</button>
            </a>
            <a id="selectRight">
                <button>Right</button>
            </a>
            <form method="POST" onsubmit="getPet()" id="petSubmitForm">
            {% csrf_token %}
            Pet Name:<br/>
                <input type="text" name="user_pet_name"><br/>
                <input type="submit" value="Adopt!"/>
                <input type="hidden" name="default_pet_name" value="" id="pet"/>                    
            </form>
        </div>		
	</div>	
	<div class="col-xs-12 col-md-1 text-center"></div>
    <div class="col-xs-12 col-md-4 text-center" id="pet_content" class="infoitem">
		{% for key, value in available_pets.items %}
			<div id="{{ value.name }}_content">
				<h3> {{ value.name }}</h3>
				<img src="{{ value.image }}" alt="{{ value.name }}" width="300px" height="300px"/>
				<p> {{ value.story }}</p>
			</div>
		{% endfor %}
    </div>
    	
    <div class="col-md-4 text-center">
	</div>
	    	
    </div>
</div>


{% endblock content_block %}