{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block content_block %}		
<div class="container">
	    <div class="row">
	        <div class="col-xs-12">
	            <img id="titleimage" class="img-responsive" src={% static 'tracktivityPetsWebsite/images/signup_img.png' %} alt="Sign up">
	        </div>
	    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 pull-right" action="{% url 'tracktivityPetsWebsite:register' %}" method="POST">
            <form method="POST" action="{% url 'tracktivityPetsWebsite:register' %}" class="form-signin text-center">
                {{ registerForm }}
               	{% csrf_token %}
                <a class="formLink" href="/login/"><button class="btn btn-lg btn-primary col-xs-5 pull-right" type="button" formaction="#">Cancel</button></a>
                <button class="btn btn-lg btn-primary col-xs-5 pull-left" type="submit">Sign up</button>
            </form>
        </div>
        
        <div class="col-xs-12 col-md-6">
        	<img id="pawprints" class="img-responsive" src="{% static 'tracktivityPetsWebsite/images/pawprints.png' %}" alt="paw prints">
   		</div>
    </div>
</div>				
{%endblock content_block %}