body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #00BFF3;
}

.col-centred {
    float: none;
    margin: 0 auto;
}

#splash_bg {
    position: absolute;
    top:0; right:0;
    bottom:0; left:0;
    background: url("/static/tracktivityPetsWebsite/images/splash_bg.jpg") no-repeat center fixed; 
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#splash_portrait {
    border: 6px solid #F8931D;
    position: relative;
    margin-top: -15%;
    padding-left: 0px;
    padding-right: 0px;
    background: white;
}

#loginDiv {
    background:#00BFF3;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 15%;
    padding-bottom: 3%;
}

#loginLogo {
    padding: 3%;
}

#page-content {
    margin-top: 30px;
}

.form-signin {
    padding: 0px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,.form-signin .checkbox {
    margin-bottom: 10px;
}

#titleimage {
    margin: 0 auto 5%;
}

.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-submitting {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 100px 150px 20px;
  margin-top:-75px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.form-signin .form-submitting:focus {
    z-index: 2;
}

.form-signin .form-control:focus {
    z-index: 2;
}

#loginEmail, #regFirstName {
    margin-bottom: -1px;
    border: 1px solid black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#formFill{
    margin-bottom: -1px;
    border: 1px solid black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#regSurname, #regEmail, #regUsername, #regPassword {
	margin-bottom: -1px;
	border: 1px solid black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#loginPassword, #regConfirmPass {
    margin-bottom: 10px;
    border: 1px solid black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn {
    border: 1px solid black;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #F8931D;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#test{
	    width:100px;
    margin: 0 auto;

}

.feedbtn {
    border: 1px solid black;
    font-weight: 700;
    letter-spacing: 0.5px;
    width:100%;
}
.formdisplay {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
 
  position: relative;
  margin: 0 auto;
width: 75%;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

}
#pawprints {
	position: relative;
    margin: 30px auto;
    max-width: 75%;
}

#signupLink:hover {
    text-decoration: none;
}

@media (max-width: 910px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


.modal-footer {
    text-align: center;
}

#feedbackBtn {
    margin-top: 10px;
}

#pet_scene_container
{
	padding: 2px;
	width: 100%;
	height: 100%;
	background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url("/static/tracktivityPetsWebsite/images/petscene_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

#pet_scene
{
	position: relative;
	/*width: 100px;*/
    height: 300px;
    padding 0;
}

#petinfo
{
	top: 0;
    left: 0;
	z-index: 2;
	text-align: left;
	position: absolute;
	width: 100%;
	height: 100%;
}



/* Progress bar style stuff */

#pet_progress
{
    margin-top: 10px;
    margin-bottom: 2px;
    border: 1px solid black;
}

.progress {
    height: 35px;
}

.progress-bar {
    font-size: 16px;
    line-height: 30px;
}

#progressbar {
    margin-top: 30%;
}


#pet_phrase
{
	margin-bottom: 2px;
}

#infoRow>div
{
	padding: 10px;
}

.infoItem
{
	//background: #eee;
	background:url('/static/tracktivityPetsWebsite/images/clouds.jpg');
	height: 100%;
	border-radius: 8px;
	padding-top: 0.5px;
	border: 1px solid black;
}

.infoItem h3, #pet_selector_title
{
	border-radius: 8px 8px 0px 0px;
	color: white;
	background: #00002B;
	margin: 3px;
}

#feedbackComment {
    border: 1px solid black;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
    margin: 20px;
}
		
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-control{
  color: #000;
}			

#fitbitlinkmessage
{
	padding-right: 40px;	
	padding-left: 40px;	
}

.centre
{
	float:none;
	margin-right: auto;
	margin-left: auto;
}

#fitbitlinkmessage h3
{
	margin-bottom: 30px;
}

#petSelectionContainer, #pet_content
{
	padding-left: 0px;
	padding-right: 0px;
	
	background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url("/static/tracktivityPetsWebsite/images/pet_selection_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

#petSelectionContainer
{
	width: 100%;
}

#pet_content
{
	color: white;
}


.bottomBox{
	border-radius: 25px;
  	background-color: #ffffff;
    border: 1px solid black;
	margin: 30px;
    padding: 4px; 
    height: 530px;
}



.bubble 
{
position: relative;
height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #000000 solid 3px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -15px;
bottom: -15px;
left: 50%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 17px 0;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -17px;
bottom: -20px;
left: 50%;
}
 
.bottom {
	left: 10%;
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

.bottom:after {
	left: 10%;
    border-color: #f8f8f8 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    left: -7px;
}

#petselectionCarouselArrows
{
	position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
}

#petselectionCarouselArrows > .row > img
{
	opacity: 0.7;
}

#petselectionCarouselArrows .row
{
	margin-left: 0px;
	margin-right: 0px;
}

#visible_pets 
{
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
}

.bubbletext_header {
    margin-bottom: 30px;
}

.dashboard_bubbletext {
    margin-top: 10px;
    margin-bottom: 10px;
}

#petSpeech {
    margin-top: 30px;
    font-size: 24px
}

#pet_scene_filler {
    margin-top: 150px;
}

#petInfoProgress {
    background-color: #666;
    border-radius: 8px;
    border: 1px solid black;
}

#infoTable {
    font-size: 24px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

#infoTable td {
    padding-left: 20px;
}

#pet_content p
{
	background: #eee;
	padding: 3px;
	color: black;
}

#adoptPetForm
{
	padding: 10px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 8px;
	background: #eee;
	border: 1px solid black;
}

/**************************************** Inventory Page Style ******************************************************/

#inventory_tabs, #inventory_pet p, #inventory_detail_header, #inventory_detail, #inventory_detail p
{
    text-align: center;
}

#inventory_tabs {
    margin-bottom: 1%;
}

#inventory_grid {
    padding-top: 15px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: white;     
}

#inventory_grid button {
    border: none;
    background: white;
}

#inventory_detail {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
    background: white;
    padding-bottom: 1%;    
}

/* Mobile-devices inventory style rules */
@media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px) 
        and (-webkit-min-device-pixel-ratio: 2)
{
    #inventory_detail
    {
        border-left: 1px solid black;
    }
    
    #inventory_grid
    {
        border-right: 1px solid black;
        min-height: 100%;
    }   
}

/******************************************** End of Inventory Style *************************************************/