<!-- store_grid_detail.html: Sub-template that handles displaying each available pet/item in grid layout with matching detail view -->
{% load staticfiles %}

<div class="collection_window container tab-content col-xs-12">
    <!-- Pet Store Tab -->
    <div class="collection_view_desktop tab-pane fade in active" id="pets">
        <div class="col-xs-12 col-sm-6">
            
            {% if own_all_pets == True %}
	        	<p>You own all pets</p>
	        {% else %}
	        	 {% for key, value in unlocked_pets.items %}
	            <div class="col-xs-6" class="store_pet" id="unlocked_pet_{{ value.id }}">
	                <button class="store_button">
	                    <img class="img-responsive" src="{{ value.image }}">
	                    <p class="">{{ key }}</p>
	                </button>            
	            </div>
	            {% endfor %}
	
	            {% for key, value in locked_pets.items %}
	            <div class="col-xs-6" class="store_pet" id="locked_pet_{{ value.id }}">
	                <button class="store_button">
	                    <img class="img-responsive locked" src="{{ value.image }}">
	                    <p class="">{{ key }}</p>
	                </button>            
	            </div>
	            {% endfor %}
	        {% endif %}
        </div>
        
        <div class="col-sm-6 hidden-xs" id="selected_pet_{{ default_pet.id }}">
        	{% if not own_all_pets %}
            <div hidden id=""></div>
            <div class="row"><h2 class="col-centred" id="store_detail_header">{{ default_pet.name }}</h2></div>
            <div class="row"><img class="img-responsive col-centred" src="{{ default_pet.image }}" id="store_detail_image"></div>
            <div class="row" id="store_detail_pet_description_div">
                <p id="store_detail_pet_description" class="col-xs-12 col-sm-8 col-centred">
                    {{ default_pet.story }}
                </p>
            </div>
            <div style="font-weight: bold" id="item_price_div">Available for:                   
                <img id="store_penny_img" src="{% static 'tracktivityPetsWebsite/images/penny.png' %}">
                x <span id="item_price">500</span>
            </div>
            <div class="row" id="store_detail_buttons">
                <button class="btn btn-lg btn-primary col-sm-4 col-md-3 col-centred buy_button" type="button">Purchase</button>
            </div>
            {% endif %}
        </div>
    </div>
    
    <!-- Scenery Store Tab -->
    <div class="collection_view_desktop tab-pane fade" id="scenery">
        <div class="col-xs-12 col-sm-6">
            {% if own_all_scenerys == True %}
	        	<p>You own all scenery</p>
	        {% else %}
	 			{% for key, value in unlocked_scenery.items %}
	            <div class="col-xs-6" class="store_items" id="unlocked_scenery_{{ value.id }}">
	                <button class="store_button">
	                    <img id="scenery_collection_view_img" class="img-responsive img-thumbnail" src="{{ value.image }}">
	                    <p class="scenery_description">{{ key }}</p>
	                </button>            
	            </div>
				{% endfor %}
				
	 			{% for key, value in locked_scenery.items %}
	            <div class="col-xs-6" class="store_items" id="locked_scenery_{{ value.id }}">
	                <button class="store_button">
	                    <img id="scenery_collection_view_img" class="img-responsive img-thumbnail locked" src="{{ value.image }}">
	                    <p class="scenery_description">{{ key }}</p>
	                </button>            
	            </div>
				{% endfor %}
			{% endif %}
        </div>
        
        
        <div class="col-sm-6 hidden-xs" id="selected_scenery_{{ default_scenery.id }}">
        	{% if not owns_all_scenerys %}
	            <div class="row"><h2 class="col-centred" id="store_detail_scenery_header">{{ default_scenery.name }}</h2></div>
	            <div class="row"><img class="img-responsive col-xs-8 col-centred" src="{{ default_scenery.image }}" id="store_detail_scenery_image"></div>
	            <div class="row" id="store_detail_scenery_description_div">
	                <p id="store_detail_scenery_description" class="col-xs-12 col-sm-8 col-centred">
	                     {{ default_scenery.description }}
	                </p>
	            </div>
	            <div style="font-weight: bold" id="item_price_div">Available for:                   
                    <img id="store_penny_img" src="{% static 'tracktivityPetsWebsite/images/penny.png' %}">
                    x <span id="item_price">500</span>
                </div>
	            <div class="row">
	                <button class="btn btn-lg btn-primary col-sm-4 col-md-3 col-centred buy_button" type="button">Purchase</button>
	            </div>
	         {% endif %}
        </div>
    </div>
    
    <!-- Collected Cosmetics Tab -->
    <div class="collection_view_desktop tab-pane fade" id="cosmetics">
        <div class="col-xs-12 col-sm-6">
            {% if own_all_items == True %}
	        	<p>You own all items</p>
	        {% else %}
	        	{% for key, value in unlocked_items.items %}
	            <div class="col-xs-6" class="store_items" id="unlocked_item_{{ value.id }}">
	                <button class="">
	                    <img class="img-responsive" src="{{ value.image }}" width="200px" height="200px">
	                    <p class="cosmetics_description">{{ key }}</p>
	                </button>            
	            </div>   
	            {% endfor %}    
	            
	        	{% for key, value in locked_items.items %}
	            <div class="col-xs-6" class="store_items" id="locked_item_{{ value.id }}">
	                <button class="">
	                    <img class="img-responsive" src="{{ value.image }}" width="200px" height="200px">
	                    <p class="cosmetics_description">{{ key }}</p>
	                </button>            
	            </div>   
	            {% endfor %}  
	        {% endif %}
        </div>

        <div class="col-sm-6 hidden-xs" id="selected_item_{{ default_item.id }}">
            {% if not own_all_items %}
            <div class="row"><h2 class="col-centred" id="store_detail_cosmetics_header">{{ default_item.name }}</h2></div>
            <div class="row"><img class="img-responsive col-xs-8 col-centred" src="{{ default_item.image }}" id="inventory_detail_cosmetics_image"></div>
            <div class="row" id="inventory_detail_cosmetics_description_div">
                <p id="inventory_detail_cosmetics_description" class="col-xs-12 col-sm-8 col-centred">
                    {{ default_item.description }}
                </p>
            </div>
            <div style="font-weight: bold" id="item_price_div">Available for:                   
                    <img id="store_penny_img" src="{% static 'tracktivityPetsWebsite/images/penny.png' %}">
                    x <span id="item_price">500</span>
                </div>
            <div class="row">
                <button class="btn btn-lg btn-primary col-sm-4 col-md-3 col-centred buy_button" type="button">Purchase</button>
            </div>
            {% endif %}
        </div>
    </div>
</div> 