{% extends 'tracktivityPetsWebsite/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'tracktivityPetsWebsite/navigationbar.html' %}
{% endblock navbar %}

{% block content_block %}

<div class="container" id="store_header">
    <div class="row col-centred">
        <img class="bubbletext_header col-xs-8 col-xs-offset-2 col-md-3 col-centred" src="{% static 'tracktivityPetsWebsite/images/store_text.png' %}">
    </div>
</div>

<div class="container" id="inventory_container">
    {% include 'tracktivityPetsWebsite/store/store_tabs.html' %}        
    {% include 'tracktivityPetsWebsite/store/store_grid_detail.html' %}  
</div>   

{% endblock content_block %}
